/*-----------------------TABLE FOR DRIVERS-----------------------*/
.drivers{
  width: 100%;
  position: absolute;
  top: 21vh;
  left: 5vw;
  right: 5vw;
}
.drvtable{
  border-collapse: collapse;
  color:#fff;
}
.drvtable th{
  border: 2px solid rgba(0,0,0,0.5);
  width: 30vw;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  height: 5vh;
  font-size: 3vh;
}
.drvtable td{
  font-size: 1.5vh;
  border: 2px solid rgba(0,0,0,0.5);
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  height: 10vh;
}

/*-----------------------TABLE CONTENT CONFIGS-----------------------*/
h1{
  font-size: 3vh;
}
.next{
  border: none;
  background-color:rgba(225,0,0,0.8);
}
.next a{
  color: #fff;
  text-decoration: none;
}
.next a:hover{
  color: black;
}
.highlight{
  color: red;
}
.redbull{
  background-color: rgba(0,0,100,0.8);
}
.merc{
  background-color: rgba(93,92,91,0.8);
}
.ferrari{
  background-color: rgba(100,0,0,0.8);
}
.mclaren{
  background-color: rgba(255, 127, 0,0.8);
}
.alpine{
  background-color: rgba(0,0,80,0.8);
}
.alfa{
  background-color: rgba(194,38,54,0.8);
}
.aston{
  background-color: rgba(1,50,32,0.8);
}
.haas{
  background-color: rgba(139,0,0,0.8);
}
.alphatauri{
  background-color: rgba(0,0,63,0.8);
}
.williams{
  background-color: rgba(0,181,226,0.8);
}